<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "favicon/favicon.ico" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon/favicon-16x16.png" | relURL }}">
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "favicon/apple-touch-icon-120x120.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "favicon/apple-touch-icon-152x152.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ "favicon/apple-touch-icon-167x167.png" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon-180x180.png" | relURL }}">
    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ "favicon/android-chrome-192x192.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ "favicon/android-chrome-512x512.png" | relURL }}">
    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ "favicon/site.webmanifest" | relURL }}">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "sass/main.sass" | toCSS }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">    
</head>
<body>
    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}Placeholder for main block{{ end }}
    </main>

    {{ partial "footer.html" . }}

</body>
</html>
